@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@layer base {
  .light {
    --color-primary: #bdbdbd;
    --color-secondary: #000;
    --color-tertiary: #ff0000;
    --color-fill: #f2f2f2;
  }

  .dark {
    --color-primary: #444444;
    --color-secondary: #fff;
    --color-tertiary: #ff0000;
    --color-fill: #000;
  }

  .afterDark {
    --color-primary: #99d6ea;
    --color-secondary: #fca6d1;
    --color-tertiary: #e1e7ec;
    --color-fill: #1b1d36;
  }

  .retrocast {
    --color-primary: #88dbdf;
    --color-secondary: #f3e03b;
    --color-tertiary: #ffffff;
    --color-fill: #07737a;
  }

  .laser {
    --color-primary: #b82356;
    --color-secondary: #009eaf;
    --color-tertiary: #dbe7e8;
    --color-fill: #221b44;
  }

  .matrix {
    --color-primary: #003b00;
    --color-secondary: #15ff00;
    --color-tertiary: #d1ffcd;
    --color-fill: #000000;
  }

  .trance {
    --color-primary: #3c4c79;
    --color-secondary: #e51376;
    --color-tertiary: #02d3b0;
    --color-fill: #00021b;
  }

  .desertOasis {
    --color-primary: #0061fe;
    --color-secondary: #000000;
    --color-tertiary: #76bb40;
    --color-fill: #fff2d5;
  }

  .ourTheme {
    --color-primary: #6d0f19;
    --color-secondary: #fcd116;
    --color-tertiary: #ffffff;
    --color-fill: #ce1226;
  }

  .tronOrange {
    --color-primary: #ff6600;
    --color-secondary: #fcd116;
    --color-tertiary: #ff0000;
    --color-fill: #0d1c1c;
  }

  .soaringSkies {
    --color-primary: #1e107a;
    --color-secondary: #000000;
    --color-tertiary: #55c6f0;
    --color-fill: #fff9f2;
  }
}

body {
  margin: 0;
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}